html, body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  xfont-family: "Lato", sans-serif;
  font-family: "grenadier";
  letter-spacing: 5px;
}

body {
  xbackground-color: #293133;
  background-image: url("pattern-grayscale.jpg");
}

@font-face {
  font-family: "grenadier";
  src: url("GrenadierNF.ttf");
}

/* NAVBAR */
nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

nav a {
  display: inline-block;
  height: 50px;
  line-height: 54px;
  padding-left: 10px;
  padding-right: 10px;
  color:white;
  text-decoration: none;
  font-size: 20px;
}

nav #home {
  font-size: 35px;
}

nav a:hover {
  background-color: rgb(16,19,20);
}

#nav-top {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #343a40;
}

#full-menu a {
  line-height: 63px;
}

#nav-bottom {
  background: #343a40;
  width: 180px;
}

.nav-bottom-hide {
  display: none;
}

#burger {
  display: none;
  font-size: 25px;
}

#burger-menu a {
  display: block;
}

@media screen and (max-width: 600px) {
  #full-menu {
    display: none;
  }

  #burger {
    display: inline-block;
  }
}

@media screen and (min-width: 600px) {
  #nav-bottom {
    display: none;
  }
}

.anchor-box {
  position: relative;
}

.anchor {
  position: absolute;
  top: -50px;
}

/* MAIN */
main {
  xpadding-bottom: 85px;
}

#welcome-section {
  height: 100vh;
  background-color: rgb(16,19,20);
  xbackground: url("rays.jpg");
  xbackground-size: cover;
  xbackground-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "grenadier";
}

#welcome-section h1 {
  font-size: 60px;
}

#welcome-section h2 {
  xbackground-color: rgb(16,19,20);
  padding: 20px;
}

.fab.fa-github {
  font-size: 40px;
  color: white;
}

#projects, #skills {
  background-color: rgba(41, 49, 51, 0.9);
  padding-top: 20px;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1500px;
  margin: auto;
  xmargin-bottom: 25px;
}

#fcc-introduction {
  margin: 20px;
  text-align: center;
}

#fcc-introduction a {
  color: white;
}

#projects-container p a {
  color: white;
}

.project-tile {
  background-color: rgba(16,19,20,0.5);
  margin: 20px;
  width: 450px;
  border-radius: 1%;
  box-shadow: 0 0 35px rgba(0,0,0,0.3);
}

.project-tile a {
  color: white;
  text-decoration: none;
}

.project-tile a:hover {
  color: white;
  text-decoration: underline;
}

.project-description {
  color: white;
  padding: 25px;
  padding-bottom: 0;
  text-align: center;
}

.project-description h3 {
  font-size: 30px;
  margin-top: 0;
}

p {
  color: white;
  font-size: 20px;
}

img {
  padding: 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#skills {
  padding-bottom: 85px;
}

#skills h2, #projects h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 60px;
}

#skills-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 800px;
  justify-content: center;
  color: white;
  text-align: center;
}

#skills-container i {
  color: white;
  font-size: 50px;
  margin: 20px;
}

#skills-container h3 {
  font-size: 30px;
}

.skills-group {
  background: rgba(16,19,20,0.5);
  margin: 20px;
  padding: 20px;
  border-radius: 1%;
  box-shadow: 0 0 35px rgba(0,0,0,0.3);
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  background: #343a40;
  width: 100%;
  color: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

footer a {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 20px;
}