@font-face {
  font-family: "Grenadier";
  src: url("../fonts/GrenadierNF.ttf");
}
html, body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Lato, arial;
  font-size: 20px;
  color: white;
}

h2, h3, .grenadier {
  font-family: "Grenadier";
  letter-spacing: 5px;
  font-weight: 100;
}

h3 {
  font-size: 30px;
}

body {
  background-image: url("../images/pattern-grayscale.jpg");
}

/* NAVBAR ----------------------------- */
nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav a {
  display: inline-block;
  height: 50px;
  line-height: 54px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
@media screen and (min-width: 700px) {
  nav a:hover {
    background-color: #101314;
  }
}
nav #home {
  font-size: 35px;
}

#nav-top {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #343a40;
}

@media screen and (max-width: 700px) {
  #full-menu {
    display: none;
  }
}
#full-menu a {
  line-height: 63px;
}

#nav-bottom {
  background: #343a40;
  width: 180px;
}

.nav-bottom-hide {
  display: none;
}

#burger {
  display: none;
  padding-left: 14px;
  padding-right: 14px;
}
@media screen and (max-width: 700px) {
  #burger {
    display: inline-block;
  }
}
#burger i {
  font-size: 25px;
}

#burger-menu a {
  display: block;
}

.anchor-box {
  position: relative;
}

.anchor {
  position: absolute;
  top: -50px;
}

/* MAIN ------------------------------- */
#welcome-section {
  height: 100vh;
  padding-top: 50px;
}
#welcome-section canvas {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #6b4619, #1b1b1b 66%, #1b1b1b 90%, rgba(41, 49, 51, 0.9));
}

.fab.fa-github {
  font-size: 40px;
}

#projects, #skills, #contact {
  background-color: rgba(41, 49, 51, 0.9);
  padding-top: 20px;
}

#contact {
  padding-bottom: 50px;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1500px;
  margin: auto;
}

.project-github {
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.project-github a {
  display: inline-block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.project-github:hover {
  background-color: #101314;
}

.project-links {
  margin-top: 15px;
  margin-bottom: 15px;
}
.project-links p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-links p a {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: inline-block;
  transition: all 0.3s;
}
.project-links p a:hover {
  background-color: #101314;
}

#fcc-introduction {
  margin: 20px;
  text-align: center;
}

.project-tile {
  background-color: rgba(16, 19, 20, 0.5);
  margin: 20px;
  width: 400px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.project-tile:before {
  border: 1px solid rgba(0, 0, 0, 0);
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -7px;
  right: -7px;
  bottom: 5px;
  transition: all 0.3s;
  z-index: -1;
}
.project-tile:after {
  border: 1px solid rgba(0, 0, 0, 0);
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 5px;
  right: 5px;
  bottom: -7px;
  transition: all 0.3s;
  z-index: -1;
}
.project-tile h3 {
  margin-top: 15;
}
.project-tile a {
  text-decoration: none;
  z-index: 1000;
}
.project-tile a img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}
.project-tile .project-link {
  transition: all 0.3s;
}
.project-tile .project-link p {
  padding: 0 5px 5px 5px;
}
.project-tile .project-link:hover {
  background-color: #101314;
}
@media screen and (min-width: 601px) {
  .project-tile:hover {
    border: 1px solid white;
  }
  .project-tile:hover:before {
    border: 1px solid white;
  }
  .project-tile:hover:after {
    border: 1px solid white;
  }
}
@media screen and (max-width: 600px) {
  .project-tile {
    margin: 20px;
    border: 1px solid white;
  }
  .project-tile:before {
    border: 1px solid white;
  }
  .project-tile:after {
    border: 1px solid white;
  }
}

.project-tech {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
}
.project-tech i, .project-tech img {
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
}
.project-tech i {
  font-size: 50px;
  height: 50px;
}
.project-tech img {
  height: 45px;
}
.project-tech span {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1;
}

.project-description {
  padding: 25px;
  padding-bottom: 0;
  text-align: center;
}
.project-description h3 {
  margin-top: 0;
}

#skills h2, #projects h2, #contact h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 60px;
}
@media screen and (max-width: 400px) {
  #skills h2, #projects h2, #contact h2 {
    font-size: 40px;
  }
}

#skills-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
  text-align: center;
}

.skills-group {
  background: rgba(16, 19, 20, 0.5);
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.skills-group:before {
  border: 1px solid rgba(0, 0, 0, 0);
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -7px;
  right: -7px;
  bottom: 5px;
  transition: all 0.3s;
  z-index: -1;
}
.skills-group:after {
  border: 1px solid rgba(0, 0, 0, 0);
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 5px;
  right: 5px;
  bottom: -7px;
  transition: all 0.3s;
  z-index: -1;
}
.skills-group i, .skills-group img {
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 601px) {
  .skills-group:hover {
    border: 1px solid white;
  }
  .skills-group:hover:before {
    border: 1px solid white;
  }
  .skills-group:hover:after {
    border: 1px solid white;
  }
}
@media screen and (max-width: 600px) {
  .skills-group {
    padding: 20px;
    margin: 20px;
    border: 1px solid white;
  }
  .skills-group:before {
    border: 1px solid white;
  }
  .skills-group:after {
    border: 1px solid white;
  }
}

#contact-container {
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
  padding-bottom: 85px;
}
#contact-container .contact-group {
  background: rgba(16, 19, 20, 0.5);
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  text-align: center;
  width: 300px;
}
#contact-container .contact-group:before {
  border: 1px solid rgba(0, 0, 0, 0);
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -7px;
  right: -7px;
  bottom: 5px;
  transition: all 0.3s;
  z-index: -1;
}
#contact-container .contact-group:after {
  border: 1px solid rgba(0, 0, 0, 0);
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: 5px;
  right: 5px;
  bottom: -7px;
  transition: all 0.3s;
  z-index: -1;
}
@media screen and (min-width: 601px) {
  #contact-container .contact-group:hover {
    border: 1px solid white;
  }
  #contact-container .contact-group:hover:before {
    border: 1px solid white;
  }
  #contact-container .contact-group:hover:after {
    border: 1px solid white;
  }
}
@media screen and (max-width: 600px) {
  #contact-container .contact-group {
    padding: 20px;
    margin: 20px;
    border: 1px solid white;
  }
  #contact-container .contact-group:before {
    border: 1px solid white;
  }
  #contact-container .contact-group:after {
    border: 1px solid white;
  }
}
#contact-container .contact-group a {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  transition: all 0.3s;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-decoration: none;
}
#contact-container .contact-group a:hover {
  background-color: #101314;
}

hr {
  border: 1px solid white;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0;
  background: #343a40;
  width: 100%;
  height: 50px;
  z-index: 10;
}
footer a {
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
footer a:hover {
  background-color: #101314;
}

/*# sourceMappingURL=style.css.map */
